/* Fuente */
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    background-color: #f3dfc1;
}

/* -- Inicio Header -- */

.header img { 
    width: 60px;
    height: 60px; 
    border-radius: 100%;
}

.header div {
    display: flex;
    gap: 10px;
    color: #fff;
}

.header {
background-color: #012326;
position: fixed;
width: 100vw;
height: 60px;
top:0;
display: flex;
justify-content: start;
align-items: center;
padding: 15px;
}

/* -- Fin Header -- */

/* -- Inicio Footer -- */

.footer{
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100vw;
    background-color: #024059;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* -- Fin Footer -- */

/* -- Inicio seccion Lista -- */
#listProductos {
    margin-top: 60px;
    padding-top: 10px;
    margin-bottom: 60px;
    padding-bottom: 10px;
}

#encabezado_lista {
    margin: 0px 8vw 30px 8vw;
    padding-top: 15px;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#encabezado_lista h2 {
    font-weight: bold;
}

#encabezado_lista form {
    background-color: #006d77;
    border: 1px solid #ece4db;
    padding: 10px 15px;
    border-radius: 10px;
    display: flex;
    gap: 10px;
    align-items: center;
    color: #fff;
}

.input_group {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.input_group label {
    font-weight: bold;
}

.input_form {
    height: 25px;
}

.btn_submit {
    min-width: 70px;
    border-radius: 10px;
    border: none;
    height: 40px;
    padding:5px;
    font-weight: bold;
    transition: 125ms all ease-in-out;
}

.btn_submit:hover {
    border: 2px solid #fff;
    cursor: pointer;
    background-color: #3c6e71;
    color: #fff;
    transition: 125ms all ease-in-out;
    box-shadow: 0px 0px 35px -11px rgba(0,0,0,0.46);
}

#productos_contenedor{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
    margin: 10px auto;
}
.cartas{
    background-color: #0896a6;
    width: 150px;
    min-height: 240px;
    border-radius: 15px;
    display: flex;
    align-items:start;
    flex-direction: column;
    justify-content: space-between;
}

.descripcion_producto {
    padding: 10px;
}

.descripcion_producto h3, .descripcion_producto h5{
    margin: 0px;
}

.descripcion_producto h5{
    color: #024059
}

.cartas img{
    width: 100%;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.producto_precio span {
    font-weight: bold;
}

hr {
    max-width: 90vw;
}

/* -- Fin seccion Lista -- */