/* Fuente */
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

/* -- Inicio Footer -- */

.footer{
    position: fixed;
    bottom: 0;
    width: 100vw;
    background-color: red;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* -- Fin Footer -- */